/*style to the canvas*/
* {
	margin: 0;
	overflow: hidden;
}

canvas {
	background-color: grey;
}

.center {
	background-color: rgba(255,255,255, 0.3);
	border: 5px ridge white;
	position: absolute;
	top: 50%;
	left: 50%;
	border-width: 2vw;
	transform: translate(-50%, -50%);
	padding: 20px;
}

h1,h2 {
	color: white;
	text-align: center;
	text-shadow: #B19CD9 2px 0 10px;
}

h1 {
	font-size: 5vw;
}
h2 {
	font-size: 3vw;
}

ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(16,16,16,0.5);
}
.nav_bar {
	border: 1px solid rgba(16,16,16,0.5);
	position: absolute;
	top: 0;
	width: 100%;
/*	left: 50%;*/

}
li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
	}

li:hover {
  background-color: #111;
}

a {
	color: white;
}

